.side-menu {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: $dark-blue;
    border-radius: 0.5rem;

    @include response(375px) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

.overlay {
    padding: 2rem 1.5rem;
    // height: 70%;
    background-color: $blue;
    border-radius: 0.5rem;
    color: whitesmoke;

    @include response(375px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.img-avatar {
    width: 75px;
    height: 75px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}

.pre-text {
    margin-top: 2rem;

    @include response(375px) {
        margin: 0;
    }
}

.username {
    font-size: 2rem;
    font-weight: 300;

    @include response(375px) {
        font-size: 1.25rem;
    }
}

.interval-menu {
    color: $pale-blue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: whitesmoke;
            font-weight: 500;
            cursor: pointer;
        }
    }

    @include response(375px) {
        p {
            margin-bottom: 0;
        }
        flex-direction: row;
        justify-content: space-around;
    }
}

.selected {
    color: whitesmoke;
    font-weight: 500;
}