footer {
    padding-block-start: 4rem;
    padding-block-end: 2rem;
    padding-inline: 2rem;
    background-color: $veryDarkBlue;
    color: white;
    font-family: $primaryFont;

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    div {
        padding-block: 1rem;
    }

    ul li {
        padding-bottom: 1rem;
    }

    .logo {
        max-width: 10rem;
    }

    .icon-and-info-container {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .social-media-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
}

@media(min-width:$desktop) {
    footer {
        padding-inline: 4rem;

        .flex-container {
            width: 80%;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
}