header {
    padding-block: 4rem;
    padding-inline: 2rem;

}

.hero {
    display: flex;
    flex-direction: column;

    img {
        max-width: 100%;
    }

    &-content {
        text-align: center;
    }

    &-title {
        font-weight: 700;
        font-size: 1.4rem;
        padding-block: 2rem;
    }

    &-text {
        font-family: $primaryFont;
        font-size:0.9rem;
        padding-block-end: 2rem;
    }

    .input-container {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:$desktop) {
    header {
        padding-inline: 4rem;
    }
    .hero {
        flex-direction: row-reverse;
        justify-content: space-between;

        img {
            flex-basis: 55%;
            width:45%;
        }

        &-content {
            flex-basis: 40%;
            text-align: left;
        }

        &-title {
            font-size: 2.2rem;
        }

        &-text {
            font-size: 1rem;
        }

        .input-container {
            flex-direction: row;
            gap: 1rem;

            input {
                flex-basis: 60%;
            }

            button {
                flex-basis: 40%;
            }
        }
    }
}