nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 2rem;
    padding-inline: 1.5rem;

    img {
        max-width: min(8rem, 25%);
    }

    ul {
        display: flex;
        gap: 1.5rem;

        li {
            font-size: 0.85rem;
        }
    }
}

@media (min-width:$desktop) {
    nav {
        padding-block: 3rem;
        padding-inline: 4rem;

        ul {
            gap: 3rem;

            li {
                font-size: 1rem;
            }
        }
    }
}