.start {
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
    padding-inline: 1.75rem;
    background-color: $desaturatedBlue;
    color: white;
    text-align: center;

    &-text {
        padding-block: 2rem;
    }

    &-content {
        max-width: 32rem;
    }

    .input-container {
        display: flex;
        flex-direction: column;

        input {
            margin-bottom: 0;
        }

        input:invalid+span::before {
            content: "Please check your email";
            font-size: 0.8rem;
        }

        span {
            align-self: flex-start;
        }

        button {
            margin-top: 1rem;
        }
    }
}

@media(min-width:$desktop) {
    .start {
        padding-inline: 4rem;
        flex-direction: row;
        justify-content: space-between;

        &-content {
            text-align: left;
            flex-basis: 45%;
        }

        &-title {
            font-size: 1.5rem;
        }

        .input-container {
            flex-basis: 40%;

            .cta-button {
                max-width: 12rem;
                height: 3rem;
            }
        }
    }
}