* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

header, nav, h1, h3 {
  font-family: "Raleway", sans-serif;
}

section {
  font-family: "Open sans", sans-serif;
}

.input {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 2px solid hsl(0deg, 0%, 75%);
  display: block;
  padding-inline-start: 1rem;
  margin-bottom: 1rem;
  color: hsl(0deg, 0%, 75%);
}

.cta-button {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  background-color: hsl(224deg, 93%, 58%);
  color: white;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  padding-inline: 1.5rem;
}
nav img {
  max-width: min(8rem, 25%);
}
nav ul {
  display: flex;
  gap: 1.5rem;
}
nav ul li {
  font-size: 0.85rem;
}

header {
  padding-block: 4rem;
  padding-inline: 2rem;
}

.hero img {
  max-width: 100%;
}
.hero-content {
  text-align: center;
}
.hero-title {
  font-weight: 700;
  font-size: 1.4rem;
  font-family: "Open sans", sans-serif;
  padding-block: 2rem;
}
.hero-text {
  font-family: "Open sans", sans-serif;
  font-size: 0.9rem;
  padding-block-end: 2rem;
}

.spacing-for-curved-top {
  height: 5rem;
  background-image: url(/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.about {
  background-color: hsl(240deg, 75%, 98%);
  padding-inline: 1.5rem;
  padding-block-end: 5rem;
}
.about .illustration {
  padding-block: 2rem;
  max-width: 100%;
}
.about h3 {
  padding-block: 2rem;
  font-size: 1rem;
  text-align: center;
}
.about-text-content {
  padding-block-end: 1rem;
  color: hsl(238deg, 22%, 44%);
  font-size: 0.9rem;
}
.about .flex-container {
  display: flex;
  justify-content: center;
  padding-block: 1em;
}
.about .how-it-works {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid hsl(170deg, 45%, 43%);
}
.about .how-it-works p {
  width: fit-content;
  padding-block-end: 0.25rem;
  color: hsl(170deg, 45%, 43%);
}
.about .testimonial-card {
  width: 90%;
  margin-inline: auto;
  margin-block-start: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem hsl(0deg, 0%, 75%);
  padding-block: 1rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 0.75rem;
}
.about .testimonial-card-text {
  font-size: 0.72rem;
  line-height: 1.5rem;
  font-family: "Open sans", sans-serif;
}
.about .testimonial-card-profile {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  gap: 0.5rem;
}
.about .testimonial-card-avatar {
  border-radius: 50%;
  width: 15%;
}
.about .testimonial-card-name {
  font-weight: 700;
  font-size: 0.8rem;
  padding-block-end: 0.25rem;
  color: black;
}
.about .testimonial-card-title {
  font-size: 0.6rem;
}

.start {
  padding-block: 4rem;
  padding-inline: 1.75rem;
  background-color: hsl(238deg, 22%, 44%);
  color: white;
  text-align: center;
}
.start-text {
  padding-block: 2rem;
}
.start .spacing-container {
  width: 80%;
  margin-inline: auto;
}

footer {
  padding-block-start: 4rem;
  padding-block-end: 2rem;
  padding-inline: 2rem;
  background-color: hsl(243deg, 87%, 12%);
  color: white;
  font-family: "Open sans", sans-serif;
  display: flex;
  flex-direction: column;
}
footer div {
  padding-block: 1rem;
}
footer ul li {
  padding-bottom: 1rem;
}
footer .logo {
  width: 50%;
}
footer .icon-and-info-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

/*# sourceMappingURL=index.css.map */
