.input {
    height: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    border: 2px solid $lightGray;
    display: block;
    padding-inline-start: 1rem;
    margin-bottom: 1rem;
    color: $lightGray;

    &:focus {
        outline: 0;
        border: 2px solid blue;
    }

    &:invalid {
        border: 2px solid firebrick;
    }
}

.cta-button {
    height: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    background-color: $brightBlue;
    color: white;
    font-weight: 700;

    &:hover {
        cursor: pointer;
        background-color: hsla(224, 93%, 58%,65%);
    }
}