.cta-button {
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(to right, hsl(136, 65%, 66%),hsl(192, 70%, 66%));
    }
}